<br>
<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-9">
      <a href="#" ><%= @customer.name %></a>
      <small><%= @customer.email %></small>
    </div>
  </header>
  <div class="ls-list-content ">
    <div class="col-xs-12 col-md-4">
      <span class="ls-list-label">Endereço</span>
      <strong><%= @customer.address %></strong>
    </div>
    <div class="col-xs-12 col-md-4">
      <span class="ls-list-label">CPF</span>
      <strong><%= @customer.formatted_cpf %></strong>
    </div>
    <div class="col-xs-12 col-md-4">
      <span class="ls-list-label">Telefone</span>
      <strong><%=@customer.phone %></strong>
    </div>
  </div>
</div>