<div>
<h1><%= @individual.name %></h1>
<ul>
  <li>E-mail: <%= @individual.email %></li>
  <li>Endereço: <%= @individual.address %></li>
  <li>CPF: <%= @individual.cpf %></li>
  <li>Telefone: <%= @individual.phone %></li>
</ul>
<%= link_to 'Cadastrar pedido' %>
</div>