<h1 class="ls-title-intro ls-ico-user-add" id='user_presentation'>Cadastro de usuário</h1>

<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
  <% end %>
<% end %>

<%= form_for @user do |f| %>
  <div class='row'>
    <label class="ls-label col-md-3">
    <%= f.label :email, 'Email' %>
    <%= f.text_field :email %>
    </label>
  </div>
  <div class='row'> 
    <label class="ls-label col-md-3">
    <%= f.label :cpf, 'CPF' %>
    <%= f.text_field :cpf %>
    </label>
  </div>
  <div class='row'>
    <label class="ls-label col-md-3">
    <%= f.label :role, 'Função'%>
    <%= f.select(:role, [ ['Admin', :admin], ['Vendedor', :vendor] ], {}, class: "ls-custom-select ls-field-sm" ) %>
    </label>
  </div>
  <hr>
  <%= f.submit 'Cadastrar', class: "ls-btn-primary" %>
<% end %>
