<h1 class="ls-title-intro ls-ico-user" id='user_presentation'><%= @customer.name %></h1>
<form action="" class="ls-form row" data-ls-module="form">
  <fieldset id="domain-form" class="ls-form-disable ls-form-text">
    <label class="ls-label col-md-4 col-lg-8">
      <b class="ls-label-text">E-mail:</b> <%= @customer.email %>
    </label>
    <label class="ls-label col-md-4 col-lg-8">
      <b class="ls-label-text">Endereço: </b><%= @customer.address %></li>
    </label>
    <label class="ls-label col-md-4 col-lg-8">
      <b class="ls-label-text">CPF:</b> <%= @customer.cpf %></li>
    </label>
    <label class="ls-label col-md-4 col-lg-8">
      <b class="ls-label-text">Telefone:</b> <%= @customer.phone %></li>
    </label>
  </fieldset>
  <hr>
  <%= link_to 'Cadastrar pedido', '#', class: 'ls-btn-primary' %>
</form>