<div>
  <% if @order.cancelled_order %>
    <% @order.cancelled_order.errors.full_messages.each do |message|%>
      <div class="ls-alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>

  <h1 class="ls-title-intro ls-ico-cancel-circle">Cancelamento do pedido <%= @order.id %></h1>
  <br>
  <h4>Cliente: <%= @order.customer.name %></h4>
  <br>
  <%= form_with url: cancel_order_path(@order), local: true, class: 'form-control col-md-6' do |f| %>
    <fieldset>
    <label class="ls-label">
      <p class="ls-label-text">Motivo interno (opcional)</p>
      <%= f.text_area :internal_reason %>
    </label>
    <label class="ls-label">
      <p class="ls-label-text">Motivo para o cliente</p>
      <%= f.text_area :client_reason %>
    </label>
    </fieldset>
    <%= f.submit 'Enviar', class: 'ls-btn ls-btn-block ls-btn-primary' %>
  <% end %>
</div>