<h1 class="ls-title-intro ls-ico-home" id='user_presentation'>Pedidos cadastrados</h1>

<div class="ls-box">
  <% if @orders.any? %>
    <table class="ls-table">
      <thead>
        <tr>
          <th>Número</th>
          <th class="hidden-xs">E-mail</th>
          <th>Nome</th>
          <th>Status</th>
          <th class="hidden-xs">Info</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= link_to order.id, order %></td>
            <td class="hidden-xs"><%= order.customer.email %></td>
            <td><%= order.product.name %></td>
            <td>
              <%= t("orders.show.#{order.status}") %>
              <%= "(#{t('.not_sent')})" if order.approved? && order.not_sent? %>
            </td>
            <td><%= link_to 'Detalhes', order, class: 'ls-btn' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
  <p><%= t('.no_orders') %></p>
  <% end %>
</div>
