<h1 class="ls-title-intro ls-ico-home" id='user_presentation'>Página inicial</h1>

<div class="col-md-8">
<div class="ls-box">
  <header class="ls-info-header">
    <h2 class="ls-title-3">Pedidos cadastrados</h2>
  </header>
  <% if @orders.any? %>
    <table class="ls-table">
      <thead>
        <tr>
          <th>Número</th>
          <th class="hidden-xs">E-mail</th>
          <th>Nome</th>
          <th>Status</th>
          <th class="hidden-xs">Info</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= link_to order.id, order %></td>
            <td class="hidden-xs"><%= order.customer.email %></td>
            <td><%= order.product.name %></td>
            <td><%= t("orders.show.#{order.status}") %></td>
            <td><%= link_to 'Detalhes', order, class: 'ls-btn' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
  <p><%= t('.no_orders') %></p>
  <% end %>
</div>
</div>
