<h1> Cadastrar Pedido </h1> <br>
<% if @order.errors.any? %>
  <% @order.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
  <% end %>
<% end %>
<%= form_with model: @order, class: "ls-form row", local: true do |f|%>
  <fieldset>
  <div class="ls-label col-md-2">
  <%= f.label :cpf, 'CPF', class: "ls-label-text" %>
  <%= f.text_field :cpf, class: 'form-control col-md-2' %>
  </div>
  <div class="ls-label col-md-2 col-sm-4">
  <%= f.label :product_id, 'Produto', class: "ls-label-text"%>
  <div class="ls-custom-select">
  <%= f.collection_select :product_id, Product.all, :id, :name, class: "ls-select"%>
  </div>
  </div>
  </fieldset>
  <div class="ls-actions-btn">
  <%= f.submit 'Cadastrar', class: "ls-btn" %>
  </div>
<% end %>