<h1 class="ls-title-intro ls-ico-plus">Cadastrar pedido</h1>
<% if @order.errors.any? %>
  <% @order.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
  <% end %>
<% end %>

<div>
 <h1><%= @customer.name %></h1>
<% if @customer.type == 'Individual'%>
  <ul>
    <li>E-mail: <%= @customer.email %></li>
    <li>Endereço: <%= @customer.address %></li>
    <li>CPF: <%= @customer.formatted_cpf %></li>
    <li>Telefone: <%= @customer.phone %></li>
  </ul>
<% else %>
  <ul>
    <li>E-mail: <%= @customer.email %></li>
    <li>Endereço: <%= @customer.address %></li>
    <li>CNPJ: <%= @customer.formatted_cnpj %></li>
    <li>Telefone: <%= @customer.phone %></li>
    <li>Contato: <%= @customer.contact %></li>
  </ul>
<% end %>
  
<%= form_with model: @order, url: customer_orders_path(@customer), class: "ls-form row", local: true do |f|%>
  <fieldset>
  <div class="ls-label col-md-2 col-sm-4">
  <%= f.label :product_id, 'Produto', class: "ls-label-text"%>
  <div class="ls-custom-select">
  <%= f.collection_select :product_id, Product.all, :id, :name, class: "ls-select"%>
  </div>
  </div>
  </fieldset>
  <div class="ls-actions-btn">
  <%= f.submit 'Cadastrar', class: "ls-btn" %>
  </div>
<% end %>