<h1 class="ls-title-intro ls-ico-plus">Cadastrar pedido</h1>
<% if @order.errors.any? %>
  <% @order.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
  <% end %>
<% end %>
<%= form_with model: @order, class: "ls-form row", local: true do |f|%>
  <fieldset>
    <div class="ls-label col-md-2">
      <%= f.label :cpf, 'CPF', class: "ls-label-text" %>
      <%= f.text_field :cpf, class: 'form-control col-md-2' %>
    </div>
    <div class="ls-label col-md-12 col-sm-4">
      <div class="ls-box-group">
        <%= f.label :product_id, 'Produto', class: "ls-label-text" %>
        <% Product.all.each do |product| %>
          <div class="ls-box ls-md-space">
          <div class="row">
            <div class="col-md-2 ls-txt-center">
            <span class="ls-ico-alone ls-ico-screen"></span>
            </div>
            <div class="col-md-10">
              <h3 class="ls-title-5"><strong>
              <%= f.radio_button :product_id, product.id %>
              <%= product.name %>
              </strong></h3>
              <p>Fortaleça ainda mais a sua revenda personalizando o painel de acesso dos seus clientes. Mude as cores, o nome ou insira a sua marca.</p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </fieldset>
  <div class="ls-actions-btn">
    <%= f.submit 'Cadastrar', class: "ls-btn" %>
  </div>
<% end %>