<h1 class="ls-title-intro ls-ico-plus">Cadastrar pedido</h1>
<% if @order.errors.any? %>
  <% @order.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
  <% end %>
<% end %>

<%= render @customer %>
  
<%= form_with model: @order, url: customer_orders_path(@customer), class: "ls-form row", local: true do |f|%>
  <fieldset>
  <div class="ls-label col-md-12 col-sm-4">
      <h5 class='ls-xs-margin-top ls-xs-margin-bottom'>PRODUTOS</h5>
      </br>
      <div class="ls-box" style="height: 400px; overflow-y: scroll;">
        <% @products.each do |product| %>
          <div class="ls-box ls-md-space">
          <div class="row">
            <div class="col-md-2 ls-txt-center">
            <span class="ls-ico-alone ls-ico-screen"></span>
            </div>
            <div class="col-md-10">
              <h3 class="ls-title-5"><strong>
              <%= f.radio_button :product_id, product.id %>
              <%= f.label "#{:product_id}_#{product.id}", product.name, class: "ls-label-text inline" %>
              </strong></h3>
              <p><strong>Descrição: </strong><%= product.description %></p>
              <p><strong>Categoria: </strong><%= product.category %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
  </fieldset>
  <div class="ls-actions-btn">
    <%= f.submit 'Cadastrar Pedido', class: "ls-btn" %>
  </div>
<% end %>