<h1>
  Pedido #<%= @order.id %> 
  <small>(<%= t(".#{@order.status}") %>)</small>
</h1>

<h1>Produto</h1>
<p><%= @order.product.name %></p>
<p><%= @order.product.price %></p>

<h1>Cliente</h1>
<p><%= @order.customer.name %></p>
<p><%= @order.customer.email %></p>

<% unless @order.approved?%>
  <%= link_to 'Aprovar pedido', approve_order_path(@order),
  method: :post, class: 'ls-btn' %>
<% end %>

