<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-9">
      <a href="#" ><%= @order.customer.name %></a>
      <small><%= @order.customer.email %></small>
    </div>
    <div class="col-md-3 ls-txt-right">
      <% unless @order.approved?%>
        <%= link_to 'Aprovar pedido', approve_order_path(@order),
        method: :post, class: "ls-btn-primary" %>
      <% end %>
    </div>
  </header>
  <div class="ls-list-content ">
    <div class="col-xs-12 col-md-4">
      <span class="ls-list-label">Status</span>
      <strong> (<%= t(".#{@order.status}") %>)</strong>
    </div>
    <div class="col-xs-12 col-md-4">
      <span class="ls-list-label">Produto</span>
      <strong><%= @order.product.name %></strong>
    </div>
    <div class="col-xs-12 col-md-4">
      <span class="ls-list-label">Preço</span>
      <strong>
    <%= @order.product.price %></strong>
    </div>
  </div>
</div>