<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-9">
      <a href="#" ><%= @order.customer.name %></a>
      <small><%= @order.customer.email %></small>
    </div>
    <div class="col-md-3 ls-txt-right">
      <% unless @order.approved? || @order.cancelled? %>
        <%= link_to 'Aprovar pedido', approve_order_path(@order),
        method: :post, class: "ls-btn-primary" %>
        <%= link_to 'Cancelar pedido', cancel_form_order_path(@order), 
            class: "ls-btn-danger" %>
      <% end %>
    </div>
  </header>
  <div class="ls-list-content ">
    <div class="col-xs-12 col-md-4">
      <span class="ls-list-label">Status</span>
      <strong> (<%= t(".#{@order.status}") %>)</strong>
    </div>
    <div class="col-xs-12 col-md-4">
      <span class="ls-list-label">Produto</span>
      <strong><%= @order.product.name %></strong>
    </div>
    <div class="col-xs-12 col-md-4">
      <span class="ls-list-label">Preço</span>
      <strong>
     R$ <%= number_to_currency(@order.product.price) %></strong>
    </div>
  </div>
</div>

<% if @order.cancelled_order %>
  <div class="ls-list">
    <header class="ls-list-header">
      <div class="ls-list-title col-md-9"> 
       <h3><%= t('.cancel_section') %></h3>
      </div>
    </header>
    <div class="ls-list-content ">
      <div class="col-xs-12 col-md-6">
        <% unless @order.cancelled_order.internal_reason.blank? %>
          <span class="ls-list-label"><%= t('.internal_reason') %></span>
          <strong><%= @order.cancelled_order.internal_reason %></strong>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-6">
        <span class="ls-list-label"><%= t('.client_reason') %></span>
        <strong><%= @order.cancelled_order.client_reason %></strong>
      </div>
    </div>
  </div>
<% end %>

<% if @order.approved_order? %>
  <div class="ls-list">
    <header class="ls-list-header">
      <div class="ls-list-title col-md-9"> 
       <h3><%= t('.approval_section') %></h3>
      </div>
    </header>
    <div class="ls-list-content ">
      <div class="col-xs-12 col-md-6">
          <span class="ls-list-label"><%= t('.approved_by') %></span>
          <strong><%= @order.order_approval.user.email %></strong>
      </div>
      <div class="col-xs-12 col-md-6">
        <span class="ls-list-label"><%= t('.approved_at') %></span>
        <strong><%= l @order.order_approval.created_at, format: :long %></strong>
      </div>
    </div>
  </div>
<% end %>

