<h1><%= @customer.name %></h1>
  <ul>
    <li>E-mail: <%= @customer.email %></li>
    <li>Endereço: <%= @customer.address %></li>
    <li>CNPJ: <%= @customer.formatted_cnpj %></li>
    <li>Telefone: <%= @customer.phone %></li>
    <li>Contato: <%= @customer.contact %></li>
  </ul>