<% company.errors.full_messages.each do |message| %>
  <div class="ls-alert-notice"><%= message %></div>
<% end %>

<%= form_for company, class: "ls-form row", local: true do |f| %>
 <fieldset>
  <div class="ls-label col-md-5">
  <%= f.label :name, class: "ls-label-text"%>
  <%= f.text_field :name, class: 'form-control col-md-6' %>
  </div>
  <div class="ls-label col-md-5">
  <%= f.label :email, class: "ls-label-text" %>
  <%= f.text_field :email, class: 'form-control col-md-6'  %>
  </div>
  <div class="ls-label col-md-5">
  <%= f.label :address, class: "ls-label-text" %>
  <%= f.text_field :address, class: 'form-control col-md-6' %>
  </div>
  <div class="ls-label col-md-5">
  <%= f.label :cnpj, class: "ls-label-text" %>
  <%= f.number_field :cnpj, class: 'form-control col-md-6' %>
  </div>
  <div class="ls-label col-md-5">
  <%= f.label :phone, 'Telefone', class: "ls-label-text" %>
  <%= f.text_field :phone, class: 'form-control col-md-6' %>
  </div>
  <div class="ls-label col-md-5">
  <%= f.label :contact, class: "ls-label-text"%>
  <%= f.text_field :contact, class: 'form-control col-md-6' %>
  </div>
  </fieldset>
    <div class="ls-actions-btn">
  <%= f.submit 'Cadastrar', class: 'ls-btn-primary' %>
  </div>
   
<% end %>