<div>
<h1><%= @company.company_name %></h1>
<ul>
  <li>E-mail: <%= @company.email %></li>
  <li>Endereço: <%= @company.address %></li>
  <li>CNPJ: <%= @company.formatted_cnpj %></li>
  <li>Telefone: <%= @company.phone %></li>
  <li>Contato: <%= @company.contact %></li>
</ul>
<%= link_to 'Cadastrar pedido' %>
</div>