<div>
<h1></h1>
<ul>
  <li></li>
  <li>Razão social: <%= @company.company_name %></li>
  <li>E-mail: <%= @company.email %></li>
  <li>Endereço: <%= @company.address %></li>
  <li>CNPJ: <%= @company.formatted_cnpj %></li>
  <li>Telefone: <%= @company.phone %></li>
  <li>Contato: <%= @company.contact %></li>
</ul>
<%= link_to 'Cadastrar pedido' %>
</div>
